# Deployment specific
wp-content/plugins
!wp-content/themes/block-starter

#ignore WP, installed via composer
wp/

# Ignore Dep Managers
node_modules/
vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

# IDE
.idea
